/* All styles for your header Components live here */
.header-container {
  display: flex;
}

.header-content-container {
  font-size: 1.6rem;
  padding: 0.5rem;
  line-height: 1.5;
}

.title {
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.light {
  color: silver;
  font-size: 1.3rem;
  font-weight: 300;
}

.logo {
  padding: 0.5rem;
}
