.footer {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  width: 50%;
  margin-left: 5.5rem;
  font-size: 3rem;
  color: silver;
}

.icons {
  font-size: 3rem;
  color: silver;
  justify-content: space-between;
}
